.file-wrapper {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.file-wrapper:hover {
    background-color: lightgray;
}

.file {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-icon {
    height: 25px;
    width: 25px;
    color: lightslategray;
}

.file-name {
    font-weight: bold;
    font-size: larger;
}

.file-wrapper:hover .delete-btn {
    opacity: 1;
    pointer-events: auto;
}
