.file {
    width: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-icon {
    height: 25px;
    width: 25px;
    color: lightslategray;
}

.file-name {
    font-weight: bold;
    font-size: larger;
}
