.folder-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.folder {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: lightgray;
    padding: 10px 20px;
}

.folder-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.folder-icon {
    height: 25px;
    width: 25px;
    color: darkgoldenrod;
}

.folder-name {
    font-weight: bold;
    font-size: larger;
}

.create-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    /* opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none; */
}
/* .folder:hover .create-buttons {
    opacity: 1;
    pointer-events: auto;
} */

.create-buttons > button {
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.delete-btn {
    cursor: pointer;
    border: none;
    background: none;

    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
}
.delete-icon {
    height: 25px;
    width: 25px;
    color: crimson;
}
.delete-icon:hover {
    color: rgb(172, 13, 45);
}
.folder:hover .delete-btn {
    opacity: 1;
    pointer-events: auto;
}

.input-wrapper {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.input-wrapper > input {
    padding: 10px 20px;
    font-size: large;
    font-weight: 500;
}

.nested-folders {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
